.container {
  margin: 0 auto;
  max-width: 960px;
  background-image: url("/images/rust-background.png");
  width: 80vw;
}

#messinq {
  font-family: "Bitter", serif;
  color: orange;
  text-align: left;
  margin: 0;
  background-image: none;
  border: none;
  font-size: 1.5em;
}

.justif {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

.fab {
  font-size: 2em;
  color: orange;
  text-align: center;
  margin: 9px;
  float: right;
}

nav {
  top: 0;
  position: sticky;
}

form > div + div {
  margin-top: 16px;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

span + span {
  margin-left: 12px;
}

form span + div {
  margin-top: 16px;
}

nav > ul {
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6b5238;
}

nav ul li {
  display: flex;
  text-transform: uppercase;
}

nav ul li a,
.dropbtn {
  display: inline-block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover,
.dropdown:hover .dropbtn {
  background-color: #b7410e;
}

nav ul li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: orangered;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  font-family: "Bitter", serif;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  background-color: #1b0801;
  font-size: 16px;
  background: url("/images/rusted tile.png");
}

header {
  background-image: url("/images/rust-background.png");
  background-color: #b7410e;
  font-size: 2em;
  text-shadow: 1px 2px orange, 8px 6px 6px black;
  text-align: center;
  color: #722104;
  line-height: 10px;
  max-width: 960px;
  width: 80vw;
}
#c {
  text-shadow: 1px 2px orange, 6px 4px 4px black;
  text-align: center;
  color: #722104;
  line-height: 10px;
  font-size: 2.5em;
  font-family: "Bitter", serif;
}



#h {
  text-shadow: 1px 2px orange, 6px 4px 4px black;
  text-align: center;
  color: #722104;

  line-height: 10px;
  font-size: 3.5em;
  font-family: "Bitter", serif;
}

#port {
  font-family: "Bitter", serif;
  font-size: 1.5em;
  line-height: 45px;
  text-shadow: 1px 2px orange, 2px 1px 2px red;
  color: rgb(19, 11, 2);
  padding-bottom: 16px;
}

.october {
  background-color: black;
  color: #ffa500;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 120px 300px 1fr;
  border: double 16px orangered;
  background-image: url(/images/rust-texture-2.png);
  border-radius: 12%;
  max-width: 960px;
  width: 80vw;
 }

 .october h2 {
  text-shadow: 1px 2px orange, 6px 4px 4px black;
  text-align: center;
  height:700px;
  color: #722104;
  font-size: 4em;
  grid-column-start: 3;
  grid-column-end: 5;
}

.october img {
  grid-area: img;
  grid-column-start: 3;
  grid-column-end: 5;
  border-radius: 50%;
  border: dashed 6px #b7410e;
  margin-top: 16px;

}

.october p {
  font-size: 1.75em;
  font-family: "Bitter", serif;
  background-color: #240e04;
  text-align: center;
  margin: 7px auto;
  color: orange;
  border: groove 6px orangered;
  line-height: 40px;
  width: 90%;
  height: 250px;
  grid-column-start: 1;
  grid-column-end: 8;
  padding: 16px;

}

.g {
  font-family: "Bitter", serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 12px;
  color: orange;
  padding: 6px;
  max-width: 700px;
  width: 80%;
  border: solid 3px orangered;
}

label {
  color: white;
  font-family: "Bitter", serif;
}
main {
  background-color: darkolivegreen;
  text-align: center;
}



h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 2px;
  padding-top: 20px;
}
.attention {
  color: orange;
  background-color: #461604;
  font-size: 1em;
  text-align: center;
  padding-bottom: 16px;
}
.giant-text {
  font-size: 1.5em;
  color: orange;
  background-color: black;
  text-align: center;
  padding-bottom: 16px;
}

footer {
  font-family: "Bitter", serif;
  background-color: #311004;
  color: orange;
  text-align: left;
  height: 30px;
  margin-top: 16px;
}
