.container {
  width: auto;
  box-sizing: border-box;
}

textarea {
  background-color: #f4db9d;
  color: #b7410e;
  font-family: "Bitter", serif;
  width: 80vw;
}
input {
  background-color: #f4db9d;
  color: #b7410e;
  font-family: "Bitter", serif;
  margin-right: 2px;
  padding-right: 2px;
}

.subornot input {
  background-color: #b7410e;
  color: #f4db9d;
  font-family: "Bitter", serif;
}

.justif {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
}

#mess-inq {
  background-color: #b7410e;
  color: #f4db9d;
  margin-right: 6px;
}

.fab {
  font-size: 2em;
  color: #f4db9d;
  text-align: center;
  margin: 9px;
  float: right;
  padding-bottom: 16px;
}
.fas {
  font-size: 2em;
  color: #f4db9d;
  text-align: center;
  margin: 6px;
}

nav {
  top: 0;
  position: sticky;
  z-index: 1;
  width: auto;
  border-bottom: solid 6px #b7410e;
}

form {
  margin: 6px;
  grid-area: main;
  border: dotted 3px #b7410e;
  padding: 6px;
  width: auto;
  }

form > div + div {
  margin-top: 16px;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

span + span {
  margin-left: 12px;
}

form span + div {
  margin-top: 16px;
}

nav > ul {
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6b5238;
}

nav ul li {
  display: flex;
  text-transform: uppercase;
}

nav ul li a,
.dropbtn {
  display: inline-block;
  color: #f4db9d;
  text-align: center;
  padding: 6px 6px;
  text-decoration: none;
}

nav ul li a:hover,
.dropdown:hover .dropbtn {
  background-color: #b7410e;
}

nav ul li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #b7410e;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.dropdown-content a {
  color: #f4db9d;
  background-color: #b7410e;
  padding: 6px 6px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f4db9d;
  color: #b7410e;
  font-family: "Bitter", serif;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  background-color: #361002;
  font-size: 18px;
  /* background: url("/images/rusted tile.png"); */
}

header {
  text-shadow: 6px 4px 4px #361002;
  text-align: center;
  color: #f4db9d;
  background-color: #b7410e;

  font-size: 3em;
  font-family: "Bitter", serif;
}

#contact {
  font-size: 1.5em;
  grid-area: header;
}

main {
  color: #f4db9d;
  margin-top: 10px;
  border: dotted 3px #b7410e;
  text-align: center;
  }

  h2 {

  text-align: center;
  height: 50px;
  font-size: 3.5em;
}

img {
  float: left;
  margin: 16px;
  }

 p {
  font-size: 1em;
  font-family: "Bitter", serif;
  background-color:#6b5238;
  text-align: left;
  color: #f4db9d;
  padding: 16px;
}


label {
  color: #f4db9d;
  font-family: "Bitter", serif;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 2px;
  padding-top: 20px;
}

footer {
  font-family: "Bitter", serif;
  background-color :#b7410e;
  color: #f4db9d;
  text-align: left;
  height: 80px;
  width: auto;
  margin: 0;
  padding-bottom: 28px;
}

@media screen and (min-width: 1200px) {
  #root {
    display: grid;
    grid-template-columns: 180px auto;
    grid-template-rows: min-content auto auto min-content;
    grid-template-areas:
      "navigation header"
      "navigation main"
      "navigation main"
      "navigation footer";
  }

  nav .container {
    width: auto;
  }

  nav {
    grid-area: navigation;
  }

  nav > ul {
    flex-direction: column;
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }
}

@media screen and (min-width: 960px) {



  .med-column {
    display: flex;
}
.med-column section+section {
  margin: 16px;
}
}

@media screen and (max-width: 600px) {

    body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";

    }

    header {
        font-size: 2em;
    }
    nav {
        font-size: .75em;
    }
    .fab {
font-size: 1.5em;

    }
    footer {
        font-size: .75em;
    }

    form {
      width: 100vw;
    }
    }

