.container {
  margin: 0 auto;
  max-width: 960px;
  background-image: url("/images/rust-background.png");
  width: 90vw;
  box-sizing: border-box;
}

#messinq {
  font-family: "Bitter", serif;
  color: orange;
  text-align: left;
  margin: 0;
  background-image: none;
  border: none;
  font-size: 1.5em;
}

.justif {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

.fab {
  font-size: 2em;
  color: orange;
  text-align: center;
  margin: 9px;
  float: right;
}

p i .fab {
  font-size: 2em;
  margin: 6px;
  float: none;
}

nav {
  top: 0;
  position: sticky;
  z-index: 1;
}

form > div + div {
  margin-top: 16px;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

span + span {
  margin-left: 12px;
}

form span + div {
  margin-top: 16px;
}

nav > ul {
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6b5238;
}

nav ul li {
  display: flex;
  text-transform: uppercase;
}

nav ul li a,
.dropbtn {
  display: inline-block;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover,
.dropdown:hover .dropbtn {
  background-color: #b7410e;
}

nav ul li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: orangered;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  font-family: "Bitter", serif;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  background-color: #1b0801;
  font-size: 16px;
  background: url("/images/rusted tile.png");
}

header {
  background-image: url("/images/rust-background.png");
  background-color: #b7410e;
  font-size: 2em;
  text-shadow: 1px 2px orange, 8px 6px 6px black;
  text-align: center;
  color: #722104;
  line-height: 10px;
  width: 80vw;
}
#c {
  text-shadow: 1px 2px orange, 6px 4px 4px black;
  text-align: center;
  color: #722104;
  line-height: 10px;
  font-size: 2.5em;
  font-family: "Bitter", serif;
}



#h {
  text-shadow: 1px 2px orange, 6px 4px 4px black;
  text-align: center;
  color: #722104;
  line-height: 10px;
  font-size: 3.5em;
  font-family: "Bitter", serif;
}

#port {
  font-family: "Bitter", serif;
  font-size: 1.5em;
  line-height: 45px;
  text-shadow: 2px 1px 2px black;
  color: #b7410e;
  padding-bottom: 16px;
}

.october {
  color: #ffa500;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-bottom: 2px;
  border: double 16px orangered;
  background-image: url(/images/rust-texture-2.png);
  border-radius: 6%;
  max-width: 960px;
  opacity: .75;
  z-index: -1;
  overflow: auto;
  height: 575px;
  text-shadow: 1px 2px 0px black;
 }

 .october h2 {
  text-shadow: 1px 2px black, 6px 4px 12px rgb(253, 73, 2);
  text-align: center;
  height: 50px;
  color: orange;
  font-size: 3.5em;
  opacity: 1;
}
.october img {
  border-radius: 50%;
  border: dashed 6px #b7410e;
  float: right;
  opacity: 1;

}
.october p {
  font-size: 1.5em;
  font-family: "Bitter", serif;
  background-color: rgba(82, 32, 9, 0.75);
  text-align: left;
  margin: 4px auto;
  color: orange;
  line-height: 40px;
  width: 90%;
  padding: 16px;
  border: dotted 6px orangered;
  box-shadow: 0px 0px 16px lime;
}

.g {
  font-family: "Bitter", serif;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 12px;
  color: orange;
  padding: 6px;
  max-width: 700px;
  width: 80%;
  border: solid 3px orangered;
}

label {
  color: white;
  font-family: "Bitter", serif;
}
main {
  background-color: darkolivegreen;
  text-align: center;
}



h2 {
  text-align: center;
  font-size: 2em;
  margin-top: 2px;
  padding-top: 20px;
}
.sixteenth {
  color: #ffa500;
  font-size: 16px;
  margin-top: 10px;
  background-image: url(/images/rust-texture-2.png);
  max-width: 960px;
  opacity: .75;
  z-index: -1;
  overflow: auto;
}

.sixteenth h2 {
  text-shadow: 1px 2px black, 6px 4px 12px rgb(253, 73, 2);
  text-align: center;
  height: 50px;
  color: orange;
  font-size: 3.5em;
  opacity: 1;
}

.sixteenth p {
  font-size: 1.5em;
  font-family: "Bitter", serif;
  background-color: rgba(82, 32, 9, 0.75);
  text-align: center;
  margin: 0px auto;
  color: orange;
  line-height: 36px;
  width: 90%;
  border: dotted 6px orangered;
  box-shadow: 0px 0px 16px lime;
  overflow: auto;
}
.sixteenth img {
  border-radius: 16%;
  border: dashed 6px #b7410e;
  margin-top: 16px;
  align-items: center;
}
.sixteenth img:last {
  border-radius: 16%;
  border: dashed 6px #b7410e;
  margin-top: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.rustiphyde {
  background-color: black;
  color: #ffa500;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 120px 300px 1fr;
  border: double 16px orangered;
  background-image: url(/images/rust-texture-2.png);
  border-radius: 12%;
  max-width: 960px;
}

footer {
  font-family: "Bitter", serif;
  background-color: #311004;
  color: orange;
  text-align: left;
  height: 30px;
  margin-top: 16px;
}
